#nsutiif_logo{
    width: 30%;
    border-radius: 5px;
}
.quote{
    font-size: 36px;
    font-weight: 700;
    margin: 20px 15px;
}
.text{
    font-size: 24px;
    font-weight: 600;
    margin: 20px;
}